<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Dinner Time</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="search french recipes">
    <meta name="keywords" content="french,recipes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="recipes-layout">
        <header class="recipes-header">
            <div class="container">
                <h1 class="home-link">
                    <%= link_to "Dinner Time", recipes_path %>
                </h1>
            </div>
        </header>
        <main class="recipes-main">
            <div class="container">
                <div class="recipes-filters">
                    <%= render partial: "recipes/search" %> 
                </div>
                <div class="recipes-outlet">
                    <%= yield %>
                </div>
            </div>
        </main>
    </div>  
      
  </body>
</html>
